.slide-container{
    height: 50vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.slide{
    height: 50vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}