.contactWrapper {
    /* If there are specific styles for contactWrapper, add them here */
}

.contactPage {
    /* If there are specific styles for contactPage, add them here */
}

.contactSection {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 20px;
}

.contactSectionSmall {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.contactFormContainer, .contactInfoContainer {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1;
    max-width: 45%;
    margin: 10px;
}

.contactFormContainerSmall, .contactInfoContainerSmall {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    margin: 10px;
}

.contactForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contactForm input,
.contactForm select,
.contactForm textarea,
.contactForm button {
    padding: 10px;
    font-size: 1em;
}

.contactQuery {
    height: 100px;
    resize: none;
}

.submitButton {
    background-color: #03a8a3;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 1em;
    transition: background-color 0.3s;
}

.submitButton:hover {
    background-color: #444;
}

.subTitle,
.subTitleSmall,
.subTitleVSmall {
    font-size: 1.5em;
    margin-bottom: 10px;
    text-align: center;
    color: #000;  /* Adjusting text color for better visibility */
}

.infoContent,
.infoContentSmall,
.infoContentVSmall {
    font-size: 1em;
    margin-bottom: 10px;
    text-align: center;
    color: #555555;  /* Ensuring text is visible */
}

.infoContentSmall,
.infoContentVSmall {
    color: #555555;  /* Ensuring text is visible */
}

.contactImageNew {
    width: 50%;
    max-width: 400px; /* Adjust this value as needed */
    margin: 2px auto;
    margin-bottom: 90px;
    display: block;
}
